.promo {
	padding-bottom: 140px;
}

.promo__list {
	display: grid;
	grid-template-areas:
		"item-1 item-2 item-3"
		"item-4 item-4 item-5";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 516px);
	gap: 60px;
}

.cards {}

.cards__item {
	display: grid;
	line-height: 1.3;
}

.cards__item-1 {
	grid-template-columns: repeat(2, minmax(245px, 1fr));
	grid-template-rows: repeat(2, minmax(245px, 1fr));
	column-gap: 60px;
	row-gap: 43px;
	grid-area: item-1;
	margin-right: 34px;
}

.cards__item-2 {
	grid-area: item-2;
}

.cards__item-3 {
	row-gap: 60px;
	grid-area: item-3;
}

.cards__item-4 {
	grid-area: item-4;
}

.cards__item-5 {
	grid-area: item-5;
	grid-template-columns: repeat(2, minmax(245px, 1fr));
	grid-template-rows: repeat(2, minmax(245px, 1fr));
	column-gap: 60px;
	row-gap: 26px;
}

.cards__link {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	position: relative;
}

.card-1 {
	padding: 0 35px 27px 20px;
	background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url('../img/promo/book.jpg');
	background-position: center;
	background-size: cover;
}

.card-2 {
	align-items: flex-start;
	padding: 77px 25px 0 14px;
	background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url('../img/promo/time.jpg');
	background-position: center;
	background-size: cover;
}

.card-3 {
	background: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 8.18%, rgba(0, 0, 0, 0.2) 99.15%), url('../img/promo/shoes.jpg') no-repeat center;
	grid-column: 1/3;
	max-height: 228px;
	background-size: cover;
	background-position-y: 65%;
}

.card-4 {
	padding: 20px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url('../img/promo/second-pair.jpg') no-repeat center;
	background-size: 107% 144%;
	background-position-x: -7%;
}

.card-5 {
	padding: 0 0px 32px 30px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%), url('../img/promo/ideas.jpg') no-repeat center;
	min-height: 228px;
	background-size: cover;
	background-position-y: 63%;

}

.card-6 {
	min-height: 228px;
	padding: 0 0 40px 30px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%), url('../img/promo/december.jpg') no-repeat center;
	background-size: cover;
	background-position-y: 56%
}

.cards-two-text {
	border-radius: 20px;
	background-color: #38C0EB;
	padding: 24px 20px;
}

.card-7 {
	padding: 0 0 50px 50px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url('../img/promo/2022.jpg') no-repeat center;
	background-size: cover;
	background-position-y: 59%;
}

.cards__text-red {
	padding: 30px 40px;
	color: #F91155;
	line-height: 1.2;
	background-color: var(--main-color);
	border-radius: 20px;
	text-transform: uppercase;
}

.card-8 {
	grid-row: 1/3;
	background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url('../img/promo/girl.jpg') no-repeat center;
	background-size: cover;
}

.card-9 {
	background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url('../img/promo/houesehold.jpg') no-repeat center;
	background-size: 135% 100%;
	background-position-x: 73%;
	padding: 0px 0px 37px 20px;
}

.card-10 {
	background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url('../img/promo/decoration.jpg') no-repeat center;
	background-size: cover;
}

.cards__promo {
	padding: 25px 8px;
	font-size: 30px;
	position: absolute;
	background: #FFBD13;
	border-radius: 50%;
}

.cards__promo_position_card-2 {
	bottom: 27px;
	right: 20px;
}

.cards__promo_position_card-3 {
	top: 20px;
	left: 20px;
}

.cards__promo_position_card-6 {
	bottom: 20px;
	right: 20px;
}

.cards__promo_position_card-8 {
	bottom: 20px;
	right: 20px;
}

.cards__promo_position_card-9 {
	top: 20px;
	left: 20px;

}



.cards__link-regular {
	font-weight: 400;
}

.cards__text {
	font-size: 40px;
}

.cards__text_fz_less {
	font-size: 30px;
}

.cards__text_fz_more {
	font-size: 56px;
}


@media screen and (max-width:1440px) {
	.promo__list {
		grid-template-areas:
			"item-1 item-2"
			"item-3 item-5"
			"item-4 item-4";
		grid-template-columns: 464px 1fr;
		grid-template-rows: 446px 410px 450px;
		gap: 22px 30px;
	}

	.cards__item-1 {
		margin: 0;
		grid-template-columns: repeat(2, minmax(202px, 1fr));
		grid-template-rows: repeat(2, minmax(202px, 1fr));
		row-gap: 24px;
	}

	.cards__item-3 {
		row-gap: 22px
	}

	.cards__item-4 {}

	.cards__item-5 {
		grid-template-columns: repeat(2, minmax(206px, 1fr));
		grid-template-rows: repeat(2, 196px);
		column-gap: 44px;
		row-gap: 18px;
	}

	.cards__text {
		font-size: 30px;
	}

	.card-1 {
		font-size: 30px;
		padding: 0 0px 32px 9px;
	}

	.card-2 {
		padding: 54px 19px 0 9px;
	}

	.card-3 {}

	.card-4 {}


	.card-5 {
		min-height: 194px;
	}

	.card-6 {
		min-height: 194px;
	}

	.card-7 {
		max-height: 418px;
		align-self: self-end;
	}

	.card-8 {}

	.card-9 {
		padding: 0 4px 19px;
	}

	.card-10 {}

	.cards__text_fz_less {
		font-size: 24px;
	}

	.cards__promo_position_card-2 {
		bottom: 10px;
		right: 10px;
	}

	.cards__promo_position_card-3 {
		top: 17px;
		left: 10px;
	}

	.cards__promo_position_card-6 {
		bottom: 10px;
		right: 10px;
	}

	.cards__promo_position_card-8 {
		bottom: 10px;
		right: 23px;
	}

	.cards__promo_position_card-9 {
		top: 10px;
		left: 6px;
	}

	.cards-two-text {
		border-radius: 20px;
		background-color: #38C0EB;
		padding: 24px 40px;
	}

	.cards__text_fz_more {
		font-size: 40px;
	}

	.cards__text_fz_card-9 {
		font-size: 20px;
	}

	.cards__text-red {
		padding: 24px 47px;
	}
}

@media screen and (max-width:900px) {}

@media screen and (max-width:500px) {}